html {
    background-color: #0a0c11;
    color: #aeb5c2 ;

}
body{
    font-size: 30px ; 
    font-family: 'Montserrat';
}
table{
    position: relative;
    align-content: center;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 1500px;
}
td{
    padding: 2px;
    border: 2px solid;
    border-color:rgb(240, 205, 7);
    text-align: center;
}
button{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    font-family: 'Montserrat';
}
h2{
    font-size: 40px;
}
.editar{
    color: black;
    text-decoration: none;
    border-radius: 5px;
    border-color:rgb(240, 205, 7); 
    background-color: white;
    padding: 8px;
}
.actualizar{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    font-family: 'Montserrat';
    font-size: 20px;
}
button[type="submit"]{
    cursor: pointer;
}
input{
    width: 99%;
    height: 25px;
}